@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

input {
    width: 48px;
    height: 48px;
    text-align: center;
    font-weight: 700;
    font-size: larger;
    margin-left: 0.25rem;
}

ol li {
    color: white;
}